- if @interviews && @interviews.length > 0
  - @interviews[0..4].each do |interview|
    %article.interview.recent
      %a{:href => interview_url(interview), :title => "View an interview with #{interview.person}."}
        %img{:src => "/images/thumbnails/#{interview.slug}.jpg", :width => 500, :height => 100, :alt => interview.person, :class => 'thumbnail'}
        - if interview.published_at
          %time{:datetime => interview.published_at.strftime("%Y-%m-%d")}= interview.published_at.strftime("%b %d, %Y")
        %h2.person= interview.person        
      %p.summary= interview.summary
  - @interviews.to_a[5..-1].each do |interview|
    %article.interview.older
      %a{:href => interview_url(interview), :title => "View an interview with #{interview.person}."}
        %img{:src => "/images/icons/#{interview.slug}.jpg", :width => 50, :height => 50, :alt => interview.person, :class => 'icon'}
        - if interview.published_at
          %time{:datetime => interview.published_at.strftime("%Y-%m-%d")}= interview.published_at.strftime("%b %d, %Y")
        %h2.person= interview.person
      %p.summary= interview.summary